{
	"printWidth": 120,
	"trailingComma": "es5",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"singleAttributePerLine": false,
	"bracketSameLine": true,
	"jsxSingleQuote": true,
	"svelteStrictMode": true,
	"svelteIndentScriptAndStyle": true,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": false,
	"plugins": ["prettier-plugin-organize-imports"],
	"organizeImportsSkipDestructiveCodeActions": true,
	"overrides": [
		{
			"files": ["*stack.jsonc", "*app.jsonc"],
			"options": {
				"trailingComma": "none"
			}
		},
		{
			"files": ["*index.ts"],
			"options": {
				"plugins": [],
				"organizeImportsSkipDestructiveCodeActions": false
			}
		}
	]
}
